html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
}
section {
    height: 500px;
    min-width: 270px;
    background-color: white;
    
    
}

.hero {
    background-color: #041c33;
    height: 100vh;
    min-width: 420px;
    color: white;
    font-size: 30px;
}
footer {
    height: 40%;
    background-color: rgba(4, 31, 61, 0.959);
    color: white;
    text-align: center;
    padding: 80px;
    min-width: 270px;
    
}

nav {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}

ul.show {
    display: block;
}

li{
    /* width: 170px; */
    text-decoration: none;
    
}
h1 {
    font-size: 55px;
    margin: 10px;    
    font-weight: 600; 
}

h2 {
    font-size: 40px;
    margin: 0;
}
p {
    margin: 5px;
    font-weight: 400;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;

}

.button {
    width: 190px;
    height: 50px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
} 
.button:active {
    background-color: #a9a9a9;
    color: #808080
}
.socials {
    padding-bottom: 200px;
    padding-right: 30px;
}
.logo {
    height: 80px;
    margin: 5px;
}
.social {
    margin: 7px;
}
.sub-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px
}
.sub-section2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px
}
.sub-section2 h2 {
    padding-bottom: 50px;
}

.headshot {
    height: 200px;
    border-radius: 50%;
    margin: 7px;
    
}
.headshot-cont {
    display: flex;
    align-items: center;
    margin: 40px;
    
}

.aboutMe-text {
    font-size: 20px;
    margin: 10px;
}

.project-card {
    width: 230px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(163, 162, 162);
}
.project-cont {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

@media only screen and (max-width: 1000px){
    .project-cont {
        display: flex;
        flex-wrap: wrap;
        
    }
   
}
.project-images {
    margin-top: 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: rgb(182, 180, 180) 5px 5px 5px;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}
.project-link {
    text-decoration: none;
    color: #ef744b;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:coral
}
a:active{
    color: #808080;
}

.button a:hover {
    color: white;
}
.hamburger {
    display: none;
}
.hamburger:focus {
    outline: 0;
}
@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
}
    ul {
        display: none;
        background-color: #062949;
        margin-bottom: 50px;
        width: auto;
    }
    nav {
        align-items: flex;
        flex-direction: column-reverse;
        background-color: #062949;
    }
    .logo {
        display: none;
    }
    .social {
        margin-right: 10px;
    }
    h1 {
        margin-left: 1px;
    }
    .sub-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
       
    }
    .sub-section2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 80px;
        height: 920px;
}
    .hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
}
      
}
.hero-area {
    margin-top: 50px;
}
.socials {
    margin-top: 60px;
}

@media only screen and (max-width: 652px) {
    .sub-section2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 80px;
        height: 1770px;
}
}